@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Open Sans/open-sans-v43-latin-ext-regular.woff2') format('woff2'),
        url('./assets/fonts/Open Sans/open-sans-v43-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/Open Sans/open-sans-v43-latin-ext-800.woff2') format('woff2'),
        url('./assets/fonts/Open Sans/open-sans-v43-latin-800.woff2') format('woff2');
}

@theme {
    --color-csblack: #1F1F1F;
    --color-cswhite: #FFFFFF;
    --color-csmain: #333333;
    --color-csred: #E65F78;
    --font-mainfont: "Open Sans";
    --width-cscontainer: 68.33%;
}

html {
    scroll-behavior: smooth;
}